:root {
    --color-body-bg: #000000;
    --color-text: #ffffff;
    --color-text-highlighted: #35e6da;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--color-body-bg);
    color: var(--color-text);
    font-family: 'Exo 2', sans-serif;
}

header {
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 12px #635a5a;
    background-color: #8bd0f8;
    min-height: 30vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

main {
    text-align: center;
    min-height: 80vh;
    height: auto !important;
    height: 100vh;
}

section {
    margin-bottom: 5vh;
}

.brand-header {
    display: inline-block;
    height: 120px;
    margin-bottom: 5vh;
}

.text{
    padding-top: 40px;
    padding-bottom: 20px;
}

.text p{    
    font-size: 35px;
    color: #FFFFFF;
}

.text p b{
    font-size: 30px;
    color: var(--color-text-highlighted);
}

span.text-highlighted {
    color: var(--color-text-highlighted);
}

.nome-email {
    text-align: left !important;
    padding: 10px;
}

.nome-email input{
    border-radius: 4px;
}

input[type="text"], input[type="email"] {
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: #E4E0E0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
}

.slidecontainer {
    width: 100%; 
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none; 
    width: 100%; 
    height: 25px; 
    background: #ffffff; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;    
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    background: var(--color-text-highlighted); 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: var(--color-text-highlighted); 
    cursor: pointer; 
}

.popover {
    color: #000000 !important;
    font-weight: bold;
    font-size: 10x;
}